// Group buttons

@import "../functions";
@import "../mixins";
@import "../variables";

// Make the div behave like a button
tk-group-buttons {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  // Include the button mixin for styling
  @include buttons();

  > .tk-btn {

    + .tk-btn {
      margin-left: -$btn-border-width;
    }

    // Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
    &:last-child:not(:first-child) {
      @include border-left-radius(0);
    }

    // Checkbox and radio options
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }

  }

  > tk-group-buttons:not(:first-child):not(:last-child) > .tk-btn {
    @include border-radius(0);
  }

  > tk-group-buttons:first-child:not(:last-child) {

    > .tk-btn:last-child {
      @include border-right-radius(0);
    }

  }

  > tk-group-buttons:last-child:not(:first-child) > .tk-btn:first-child {
    @include border-left-radius(0);
  }

}
