// Dropdown

@import "../functions";
@import "../mixins";
@import "../variables";

tk-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  backface-visibility: hidden;

  .tk-dropdown {
    position: absolute;
    z-index: $dropdown-z-index;
    box-sizing: border-box;
    display: none;
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y $dropdown-padding-x;
    margin-top: $dropdown-margin-top;
    background: $dropdown-background-colour;
    box-shadow: $dropdown-box-shadow;
  }

  &[expanded] > .tk-dropdown {
    display: block;
  }

  .tk-dropdown-item {
    display: block;
  }
}
