//
// Variables
//

$font-size-base: 1rem;

// Color system
$white:    #fff;
$black:    #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue:    #1e87f0;
$red:     #f0506e;
$yellow:  #faa05a;
$green:   #32d296;

$grays: ();
$grays: map-merge((
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
), $grays);

$theme-colors: ();
$theme-colors: map-merge((
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  warning: $yellow,
  danger: $red
), $theme-colors);

// Set a specific jump point for requesting color jumps
$theme-color-interval:            8%;

// Define common padding and border radius sizes and more.
$border-width:                    1px;
$border-radius:                   0;
$transition-fade:                 opacity .15s linear;


// Alerts
$alert-padding-y:                 .5rem;
$alert-padding-x:                 1.25rem;
$alert-margin-bottom:             1rem;
$alert-border-radius:             $border-radius;
$alert-border-width:              $border-width;


// Close
$close-font-size:                 $font-size-base * 1.5;
$close-font-weight:               bold;
$close-color:                     $black;
$close-text-shadow:               0 1px 0 $white;


// Tabs
$tab-border-radius:               .25rem;

$tab-ul-bg:                       #f5f5f5;
$tab-ul-border-color:             $gray-400 $gray-400 currentcolor;
$tab-ul-border-width:             $border-width $border-width 0;
$tab-ul-border-radius:            $tab-border-radius $tab-border-radius 0 0;
$tab-ul-box-shadow:               0 1px $white inset, 0 2px 3px -3px rgba(0, 0, 0, .15), 0 -4px 0 rgba(0, 0, 0, .05) inset, 0 0 3px rgba(0, 0, 0, .04);

$tab-link-padding:                .75rem 1rem;
$tab-link-colour:                 $gray-800;
$tab-link-box-shadow:             1px 0 0 rgba(0, 0, 0, .05);

$tab-link-width-active:           5px;
$tab-link-bg-colour-active:       rgba(0, 0, 0, .03);
$tab-link-bg-image-active:        linear-gradient(to bottom, transparent, rgba(0, 0, 0, .05) 100%);
$tab-link-box-shadow-active:      2px 0 1px -1px rgba(0, 0, 0, .08) inset, -2px 0 1px -1px rgba(0, 0, 0, .08) inset, 0 1px 0 rgba(0, 0, 0, .02) inset;

$tab-content-padding:             15px;
$tab-content-bg:                  #fefefe;
$tab-content-border:              $border-width solid $gray-400;
$tab-content-border-radius:       0 0 $tab-border-radius $tab-border-radius;
$tab-content-box-shadow:          0 0 3px rgba(0, 0, 0, .04);

$tab-accordion-ul-border-radius:  $tab-border-radius;
$tab-accordion-ul-box-shadow:     0 1px $white inset, 0 0 3px rgba(0, 0, 0, .04);

$tab-accordion-link-border:       $border-width solid #ddd;
$tab-vertical-ul-border:          $border-width solid #ccc;


// Buttons
$btn-box-shadow:                  inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075);
$btn-focus-box-shadow:            0 0 0 3px rgba(theme-color("primary"), .25);
$btn-active-box-shadow:           inset 0 3px 5px rgba($black,.125);


// Forms
$input-btn-border-width:          $border-width;


// Dropdown
$dropdown-min-width:              200px;

$dropdown-z-index:                1010;

$dropdown-padding-y:              1rem;
$dropdown-padding-x:              1rem;
$dropdown-margin-top:             1rem;

$dropdown-background-colour:      $white;
$dropdown-box-shadow:             0 3px 8px rgba($black,.15);
